.note-window{
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 1rem;
    padding-bottom: 5rem;
    font-size: 1.1rem;

   

    pre{
        background-color: transparent !important;
    }
}